// Colors
$white-color: #FFFFFF;
$primary-color: #512051;
$ochprimary-color: #EE69A4;
$text-color: #927B91;

// background color
$white-bg-color: #F2F2F2;
$primary-bg-color: #512051;

// fonts
$site-fonts: "League Spartan", "Arial", sans-serif;
// end.




